/* CSS for website */



body {
	font-size: 150%;
	font-family: Helvetica Neue;

}

h1, h2, h3, h4, h5 {
	font-family: Courier New;
}

.headerlink {
    font-family: FontAwesome;
    font-size: 14px;
    display: none;
    padding-left: .5em;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink{
    display:inline-block;
}

.book-summary {
	background-color: #fff;
	font-family:Courier New;
	color: #000;
}

.img-title {
	display:block;
	margin:auto;
	width:40%;
}

#site-title {
	font-weight:bold;
	text-align: center;
	font-family: Courier New;
}

.label, .label-blue { display: inline-block; padding-top: 0.16em; padding-right: 0.42em; padding-bottom: 0.16em; padding-left: 0.42em; margin-right: 0.25rem; margin-left: 0.25rem; color: #fff; text-transform: uppercase; vertical-align: middle; background-color: #2869e6; font-size: 11px !important; }
@media (min-width: 31.25rem) { .label, .label-blue { font-size: 12px !important; } }

.label-green { background-color: #009c7b; }

.label-purple { background-color: #5e41d0; }

.label-red { background-color: #e94c4c; }

.label-yellow { color: #44434d; background-color: #f7d12e; }

.markdown-section blockquote {
	color: #000;
}